.container {
  width: 100%;
  height: 100vh; 
  background: brown;
  display: flex;
  align-items: center;
}

.envolve-presente {
  width: 90vh;
  height: 80vh; 
  background: brown;
  margin: auto;
  display: flex;
  position: relative;
}

.white-square {
  background-color: white;
  width: 15vh;
  height: 15vh;
  position: absolute;
}

.top-left {
  margin :39% 0 0 29%;
}

.top-right {
  margin :39% 0 0 51%;
}

.botton-left {
  margin :61% 0 0 29%;
}

.botton-right {
  margin :61% 0 0 51%;
} 

.laco-right {
  margin: 23% 0 0 39%;
  border-radius: 100% 100% 0 100%;
  border: 20px solid white;
}

.laco {
  background-color: brown;
  width: 5vh;
  height: 5vh;
  position: absolute;
}

.laco-left {
  margin: 23% 0 0 47%;
  border-radius: 100% 100% 100% 0;
  border: 20px solid white;
}