body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: brown;
  width: 100%;
}

.upper {
  border: 20px solid white;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.wrapper-white-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.white-box {
  background-color: white;
  width: 150px;
  height: 150px;
}
